
        .navbar{
            background-color: black;
            border-radius: 30px;
            
        }
        .navbar ul{
            overflow: auto;
        }
        .navbar li{
            float:left;
            list-style: none; 
            margin: 13px 20px;
            
        }
        .navbar li a{
            padding: 3px 3px;
            text-decoration: none;
            color: white;
        }
        .navbar li a:hover{
            color: red
        }
        .search{
            float: right;
            color: white;
            padding: 12px 75px;
        }
        .navbar input{
            border: 2px solid black;
            border-radius: 14px;
            padding: 3px 17px;
            width: 129px;
        }

        /* For boxing */
        * {
            box-sizing: border-box;
            margin: 0;
            padding: 0;
        }
        body{
            background-color: rgb(224, 238, 224);
        }

        .container{
            background-color: rgb(179, 197, 179);
            border: 3px solid rgb(3, 95, 3);

            padding: 34px 19px;
            margin: 14px 19px;
            border-radius: 23px;
            width: 1480px;
            
        }
        

     